/* Primary style sheet. */

* {margin:0px; padding:0px}

/* Page body */
body {
  margin:0px;
  padding:0px; 
  background:#000000;
  color:#868f92;
  position:relative;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align:center;
}


/* Tag defaults
----------------------------------------------- */
a {
  padding: 0px;
  color: #99b6c4;
  text-decoration:none;
}
a:active {
  border:0px;
}
a:hover {
  text-decoration:underline;
}



/* Test classes for the javascript. */
.macroexplain-hover { 
  position:absolute;
  background-color:#111122;
  border-color:#CCCCCC #777777 #777777 #CCCCCC;
  border-style:solid;
  border-width:1px;
  color:#FFFFFF;
  float:left;
  font-family:Verdana,sans-serif;
  font-size:13px;
  line-height:17px;
  padding:7px;
  text-align:left;
  z-index:65000;
  width:400px;
  height:100px;
}
